<footer>
  <div class="section-inner">
    <img src={import.meta.env.BASE_URL + 'img/logo.jpg'} alt="La Aura Interiors Logo" class="hero-logo"/>
    <p class="owner-name">La Aura Interiors</p>
    <hr />
    <div class="social-icons">
      <a href="https://www.instagram.com/laaurainteriors?..." target="_blank"><img src={import.meta.env.BASE_URL + 'img/insta.png'} alt="Instagram"></a>
      <a href="https://www.facebook.com/people/La-Aura-Interiors/61577900795092/" target="_blank"><img src={import.meta.env.BASE_URL + 'img/facebook.png'} alt="Facebook"></a>
      <a href="https://www.tiktok.com/@laaurainterior?..." target="_blank"><img src={import.meta.env.BASE_URL + 'img/tiktok.png'} alt="Tiktok"></a>
      <a href="https://pin.it/3j4Q2pB2T" target="_blank"><img src={import.meta.env.BASE_URL + 'img/pinterest.png'} alt="Pinterest"></a>
      <a href="https://www.linkedin.com/in/lara-bencov%C3%A1-a83235375" target="_blank"><img src={import.meta.env.BASE_URL + 'img/linkedin.png'} alt="LinkedIn"></a>
    </div>
    <p class="email"><a href="mailto:laaurainterior@gmail.com">laaurainterior@gmail.com</a></p>
  </div>
</footer>
