<footer>
  <div class="section-inner">
    <img src={import.meta.env.BASE_URL + 'img/logo.jpg'} alt="La Aura Interiors Logo" class="hero-logo"/>
    <p class="owner-name">La Aura Interiors</p>
    <hr />
    <div class="social-icons">
      <a href="https://www.instagram.com/laaurainteriors" target="_blank">
        <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/instagram.svg" alt="Instagram" />
      </a>
      <a href="https://www.facebook.com/share/185pyf9XVz" target="_blank">
        <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/facebook.svg" alt="Facebook" />
      </a>
      <a href="https://www.tiktok.com/@laaurainterior" target="_blank">
        <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/tiktok.svg" alt="TikTok" />
      </a>
    </div>
    <p class="email"><a href="mailto:laaurainterior@gmail.com">laaurainterior@gmail.com</a></p>
  </div>
</footer>
