<section class="hero">
  <div class="hero-content" id="hero">
    <img src={import.meta.env.BASE_URL + 'img/logo.jpg'} alt="La Aura Interiors Logo" class="hero-logo"/>
    <h1> to La Aura Interiors</h1>
    <p>Elevate your space. Reflect your style.</p>
  </div>
</section>
